.nav-link {
    transition: transform 400ms linear;
}

.nav-link:hover {
    transform: scale(1.2);
}

.video {
    width: 1280px;
    height: 720px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -150px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

h2 {
    font-size: 70px !important;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: 30px !important;
    margin: 60px 0 30px 70px !important;
}

h4 {
    margin: 70px !important;
}

.description {
    margin-top: 50px;
}

p {
    font-weight: 100 !important;
    margin-left: 70px !important;
}

.certified-tag {
    font-size: 10px;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-style: italic;
}

.real-link {
    color: #8ab4f8 !important;
    text-decoration: underline;
}

.download-link {
    font-size: 20px;
    margin: 70px;
}

.one-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.node-img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.dade-img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    margin-top: 30px;
    margin-right: a;
    margin-left: 60px;
}

.codeblock {
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    padding: 5px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#contact {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.798);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

#contact>p {
    color: white;
}