
.background-1 {
    background-image: url('../images/python/stringinteger.png');
}
.background-2 {
    background-image: url('../images/python/detectdoubleletters.png')
}
.background-3 {
    background-image: url('../images/python/capitalindex.png')
}
.background-4 {
    background-image: url('../images/python/openingfiles.png')
}
.background-5 {
    background-image: url('../images/python/mailreader.png')
}
.background-6 {
    background-image: url('../images/python/firstwebscraper.png')
}
.background-7 {
    background-image: url('../images/python/aparthistory.png')
}
.background-8 {
    background-image: url('../images/python/dadeschoolsscraper.png')
}
.background-9 {
    background-image: url('../images/python/automategithub.png')
}
.background-soccer {
    background-image: url('../images/python/soccer.png');
}
.background-10 {
    background-image: url('../images/python/checkhomework.png')
}
.background-11 {
    background-image: url('../images/python/rickandmorty.png')
}
.background-12 {
    background-image: url('../images/python/youtubeapi.png')
}
.background-13 {
    background-image: url('../images/python/spotify.png')
}
.background-14 {
    background-image: url('../images/python/facedetect.png')
}
.background-15 {
    background-image: url('../images/python/movemouse.png')
}
.background-16 {
    background-image: url('../images/python/pypi.png')
}
.background-gui {
    background-image: url('../images/python/gui.png')
}
