{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static '/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static '/css/html_background.css' %}" />
    <meta
      name="keywords"
      content="debugdaniel, daniel li, daniel, li%, li percent, debug daniel, blog debug daniel, blogdebugdaniel"
    />
    <meta name="author" content="Daniel Li" />
    <meta
      name="google-site-verification"
      content="jWVtP8DChgYl9L7X6HiJ5DQqHsUY7T1a9X1GGyaNSQg"
    />
    <title>HTML/CSS/JS Projects</title>
  </head>

  <body>
    <div class="navbar-page">
      <p style="margin: 0; font-size: 16px; color: white">
        <a href="/about_me" class="my_img" style="margin: 0; padding: 0">
          <img
            class="me_img"
            src="{% static '../static/images/logo.png' %}"
            alt="me logo"
          />
        </a>
      </p>
      <a href="/main">
        <p class="animate-navbar" style="margin: 0; font-size: 16px">Home</p>
      </a>
      <a href="/skill_page">
        <p class="animate-navbar" style="margin: 0; font-size: 16px">Skills</p>
      </a>
      <div class="dropdown">
        <button class="dropbtn">
          <p class="animate-navbar" style="font-size: 16px; margin: 0">
            Projects <i class="fa fa-caret-down"></i>
          </p>
        </button>
        <div class="dropdown-content">
          <a href="/skills/python_projects">
            <p class="animate-navbar" style="margin: 0; font-size: 16px">
              Python
            </p>
          </a>
          <a
            href="/skills/html_projects"
            style="background-color: rgba(63, 63, 63, 0.899)"
          >
            <p class="animate-navbar" style="margin: 0; font-size: 16px">
              HTML/CSS/JS
            </p>
          </a>
          <a href="/skills/cpp_projects">
            <p class="animate-navbar" style="margin: 0; font-size: 16px">
              C++
            </p>
          </a>
        </div>
      </div>
      <a href="/about_me">
        <p class="animate-navbar" style="margin: 0; font-size: 16px">
          About Me
        </p>
      </a>
    </div>
    <br />
    <h1 class="title animate-charcter" style="text-align: center">
      HTML/CSS/JS Projects
    </h1>
    <div class="row justify-content-center">
      <!-- RECT 1 -->
      <a
        id="rect-space1"
        class="col-sm-2 rect geeks background-1"
        style="text-decoration: none"
      >
        <div class="ribbon ribbon-top-left">
          <span><p class="animate-banner">first project</p></span>
        </div>
        <br />
        <p class="rect-title">Jumpscare Website</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">Jumpscare Website</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            This idea is what got me into html. I wanted to send this link to my
            friends and give them a little scare. It was all just for fun with
            no harm intended of course. I also really loved learning everything
            about html and I also enjoyed my friends' reactions to this. My
            friends also sent to link to their friends so my website was getting
            lots of visits, which made me pretty happy. The html was pretty easy
            to learn but it was difficult to actually deploy the website. I used
            a free hosting service called Heroku, but the drawback to it being
            free was that you had to add .herokuapp.com after the url.
          </p>
          <big>Time Spent</big>
          <p class="content-p">
            Around 3 days. It took me a while to start learning about all the
            tags, attributes and styles. I also had to deploy the website too.
          </p>
        </div>
      </div>

      <!-- RECT 2 -->
      <a
        id="rect-space2"
        class="col-sm-2 rect geeks background-2"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">Task Schedule Tracker</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">Task Schedule Tracker</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            There was a game that my sister played and it involved leveling up
            pets by completing tasks. The tasks happened at a specific time each
            hour so I made a task tracker for her and some friends with html.
            The task tracker displayed what task happened at each hour and
            updated each time the current task changed. I then deployed the
            website so anybody with the link could access it.
          </p>
          <big>Time Spent</big>
          <p class="content-p">
            Around a day. I was now very familiar with html and how to position
            and size everything.
          </p>
        </div>
      </div>

      <!-- RECT 3 -->
      <a
        id="rect-space3"
        class="col-sm-2 rect geeks background-3"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">Debug Daniel</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">Debug Daniel</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            Debug Daniel (this website) is completely made from html, css, and
            js. It is a portfolio website for me that displays various kinds of
            information about me and my skills. The is the most difficult
            project with html that I have worked on. It was also definitely the
            longest one too. But, I had a ton of ideas of where to go with this
            so I was excited. The hardest part of this project was making the 3D
            version of my head to be close to perfect. I modeled my head with a
            3D developing tool called Blender. I then had to figure out how to
            put it on my website, and make it spin. I searched around and found
            this JavaScript library called ThreeJS that can display 3D graphics,
            and also animate them. So, I learned it in about a week and set up
            everything. The second hardest part of this project, was remembering
            all of my past projects and trying to find the files on my computer.
            For my Photoshop, FCPX, and Premier projects, I had them stored on a
            separate computer where I had to scavenge for the files. But, in the
            end, I got most of everything to work and look like how I imagined
            it.
          </p>
          <big>Time Spent</big>
          <p class="content-p">
            A span of 4 months. I started this in the summer of my junior year
            and was working on it almost everyday up until the start of my
            senior year, where I was busy with school.
          </p>
        </div>
      </div>

      <!-- RECT 4 -->
      <a
        id="rect-space3"
        class="col-sm-2 rect geeks background-4"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">CSS Animations</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">CSS Animations</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            After I watched a tutorial about CSS Animations, I wanted to set up
            some HTML and CSS files for animation because I thought it was
            really fun. So I built a page describing all the values of the CSS
            'animation' properties. I also included some home made original
            animations.
          </p>
          <big>Time Spent</big>
          <p class="content-p">Less than 2 hours.</p>
        </div>
      </div>

      <!-- RECT 5 -->
      <a
        id="rect-space3"
        class="col-sm-2 rect geeks background-5"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">Calculator App</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">Calculator App</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            After I spent some time learning about JavaScript, I began to really
            love it. It is such an awesome and powerful language that I felt was
            similar to Python, but could do a lot more. I used my JavaScript
            knowledge to build a simple calculator app without watching a
            tutorial. It was a bunch of fun to create and I also added a feature
            where users can copy their equation and answer if they clicked on
            it.
          </p>
          <big>Time Spent</big>
          <p class="content-p">2 hours.</p>
        </div>
      </div>

      <!-- RECT 6 -->
      <a
        id="rect-space3"
        class="col-sm-2 rect geeks background-6"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">GIF Searcher</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">GIF Searcher</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            With my newfound knowledge of JavaScript, I immediately wanted to
            jump into learning about APIs. I had accessed APIs using the Python
            requests library and thought that it was really cool, so I really
            wanted to see how it was done in JS. I watched some tutorials on it
            and made calls to the GIPHY API which returned GIF urls which I
            displayed on the user's screen.
          </p>
          <big>Time Spent</big>
          <p class="content-p">3 hours.</p>
        </div>
      </div>

      <!-- RECT 7 -->
      <a
        id="rect-space3"
        class="col-sm-2 rect geeks background-7"
        style="text-decoration: none"
      >
        <br />
        <p class="rect-title">Pokemon API</p>
        <div class="link-bar"></div>
      </a>
      <div class="collapse-rect">
        <div class="collapse-bar">
          <p class="collapse-title">Pokemon API</p>
          <a class="collapse-btn">Collapse</a>
        </div>
        <div class="content-box">
          <big>Overview</big>
          <p class="content-p">
            For my previous project, I used a fairly old method for calling APIS
            called "XMLHttpRequest". I wanted to learn about a more modern way
            to make API calls and discovered "fetch". Fetch was an extremely
            simple way to make API calls and I wanted to put it into practice so
            I built a Pokemon Information API which made calls to PokeAPI and
            returned abilities, moves, and images for a user inputted pokemon. I
            don't know a whole lot about Pokemon, but it was pretty cool and fun
            to build.
          </p>
          <big>Time Spent</big>
          <p class="content-p">4 hours.</p>
        </div>
      </div>

      <script>
        allBoxes = document.querySelectorAll(".geeks");
        allButtons = document.querySelectorAll(".collapse-btn");

        allBoxes.forEach((box) => {
          box.addEventListener("click", () => {
            box.nextSibling.nextSibling.classList.toggle("display");
            allBoxes.forEach((hidebox) => {
              hidebox.classList.toggle("hide");
            });
          });
        });

        allButtons.forEach((box) => {
          box.addEventListener("click", () => {
            box.parentElement.parentElement.classList.toggle("display");
            allBoxes.forEach((showbox) => {
              showbox.classList.toggle("hide");
            });
          });
        });
      </script>
    </div>
  </body>
</html>
