{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="../static/css/test.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>

</head>
<body>
    
    <button class="btn" onclick="fadeOut(this)"><p>Start Journey</p></button>

    <div id="space" style="display: none">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
      </div>

    <script>

        function fadeOut(el) {
            var opacity = 1;
            var interval = setInterval(function() {
               if (opacity > 0) {
                  opacity -= 0.2;
                  el.style.opacity = opacity;
                  el.removeAttribute("onclick")
               }
            }, 30);

            document.querySelector("#space").style.display = "block"
         }

    </script>

</body>
</html>